.planning-page-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    flex-shrink: 0;
}

.planning-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.planning-title{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.planning-container{
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 30px 30px 0px 0px;
    background: linear-gradient(150deg, rgba(193, 195, 214, 0.50) 0.75%, rgba(255, 252, 252, 0.00) 100%);
}

.planning-calendar-container{
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.planning-calendar-year-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.planning-calendar-year{
    color: #5A3A3A;
    text-align: center;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.planning-calendar-months-container{
    display: flex;
    padding: 0px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.planning-calendar-months{
    color: #1A003A;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.planning-calendar-days-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.planning-calendar-days-one-container{
    display: flex!important;
    padding: 4px 8px;
    justify-content: center!important;
    align-items: center!important;
    gap: 10px;
}

.planning-calendar-days-second-container{
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: rgba(255, 253, 253, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.planning-calendar-one-days{
    color: #5B5757;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.planning-calendar-second-days{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.planning-tab-container{
    display: flex;
    padding: 48px 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 30px 30px 0px 0px;
    background: linear-gradient(150deg, #C1C3D6 0.75%, rgba(255, 252, 252, 0.00) 100%);
}

.planning-tab-one-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.planning-tab-one-title-container{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #CC34AE;
}

.planning-tab-one-title{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.planning-tab-mission-container{
    display: flex;
    padding: 0px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.planning-tab-mission-one-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.planning-tab-mission-one-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.planning-tab-mission-one-title{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.planning-tab-mission-one-time-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.planning-tab-mission-one-time{
    color: #828282;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.planning-tab-mission-one-media-container{
    display: flex;
    padding: 0px 56px 0px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
    align-self: stretch;
}

.planning-tab-mission-one-media{
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 20px;
}